* { box-sizing: border-box; }
body {
  font-family: sans-serif; margin:0; padding:0;
  background:#f9f9f9; color:#333;
}
header { background:#0066cc; padding:1em; }
nav { display:flex; justify-content:space-between; align-items:center; }
nav a, nav span { color:#fff; margin:0 0.5em; text-decoration:none; }
main { max-width:400px; margin:2em auto; padding:1em; background:#fff; border-radius:8px; }
input { display:block; width:100%; margin:0.5em 0; padding:0.6em; border:1px solid #ccc; }
button { width:100%; padding:0.7em; background:#0066cc; color:#fff; border:none; cursor:pointer; }
.settings label { display:flex; justify-content:space-between; margin:0.8em 0; }

.alert {
  color: red;
  font-weight: bold;
  text-align: center;   /* Menengahkan teks */
}
/* style.css */
.logout {
  color: #ff6666 !important;   /* warna merah agar menonjol */
  font-weight: bold;
}
